* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

header nav {
  background-color: blue;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

nav form {
  display: flex;
  justify-content: center;
}

form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
}
form input[type="text"],
button[type="submit"] {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}

form button[type="submit"] {
  background-color: grey;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
form button[type="submit"]:hover,
.food button:hover {
  background-color: orangered;
}
.container {
  max-width: 1200px;
  margin: auto;
  width: 98%;
}

.food-container {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}
.food {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #000;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1),
    -5px -5px 10px rgba(34, 34, 34, 0.5);
  cursor: pointer;
  max-width: 350px;
}

.food img {
  height: 300px;
}

.food h3 {
  font-size: 24px;
  margin: 5px 0;
}

.food p {
  font-size: 20px;
  color: #4a4a4a;
  margin: 5px 0;
}

.food span {
  font-weight: 600;
}

.food button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 18px auto;
  background-color: #000;
  color: white;
  border: none;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  header nav form {
    width: 80%;
    margin-top: 20px;
  }
}

@media screen and (max-width: 411px) {
  nav {
    width: fit-content;
  }
  .logo {
    margin-bottom: 6px;
  }
  .food-container {
    margin-left: 0;
  }
}
